#toggle-buttons button.active {
    background-color: #626263;
    color: #fff;
}

body{

background-color: #e2dfdf;

}
button{
background-color: #a7d7dd;
color: #000000;
cursor: pointer;
padding: 8px 12px;
border: none;
margin-right: 10px;
}

.cocktail-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -5px; 
}

.cocktail-images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px; 
}

.cocktail-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.cocktail-col {
    flex: 1;
    margin: 5px;
}